.product-tabs {
  background: #ccc;
  .nav-item {
    width: 0;
    flex-grow: 1;
    .nav-link {
      color: #000;
      text-transform: uppercase;
      text-decoration: none;
      text-align: center;
    }
  }
}
