@import "../../components/theme";

.text-hide {
  width: 100%;
  min-height: 194px;
  max-height: 194px;
  overflow: hidden;
  background-image: url('https://sdi-sc-prod-cd-cdn.azureedge.net/-/media/project/hdweb/public/visionlink-unified-suite.jpg?w=600');
  background-position-y: 100%;
  background-size: cover;
}

.solution-compare-snippet {
  .plan-title {
    top: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
  }

  .plan-features {
    list-style: outside none none;

    li {
      padding: 10px 5%;

      &:nth-child(even) {
        background: rgba(0, 0, 0, .08)
      }
    }

    .fa-check-circle {
      color: #25c594
    }

    .fa-times-circle {
      color: rgba(255, 63, 63, 1)
    }

    .fa-exclamation-circle {
      color: #fc0
    }
  }

  .plan-select a {
    background-color: #777;
    color: #fff;
    text-decoration: none;
    padding: .5em 1em;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    font-weight: 800;
    text-transform: uppercase;
    display: inline-block;

    &:hover {
      background-color: #fc0;
      color: #000
    }
  }

  .featured {
    margin-top: -10px;
    background-color: #565656;
    color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, .4);
    z-index: 1;

    .plan-features li {
      border-top: 1px solid rgba(255, 255, 255, .4)
    }
  }
}
