@import "../../components/theme";

.facet-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #8a8a8a;
  padding: 0 0 5px 0;
  margin: 0 0 5px 0;
  position: relative;
}

.facet-value {
  position: relative;
  border-bottom: 1px solid #e0dede;
  background: transparent;
  cursor: pointer;
  padding: 5px 0;

  &:last-of-type {
    border-bottom: none;
  }
}

.active-facet {
  font-weight: bold;
  color: map-get($incendi-colors, 'text-secondary-blue');
}

.home-icon {
  color: #fc0;
}

.separator {
  color: #747474;
  margin: 6px 12px;
  height: 12px;
}

.icon-right {
  position: absolute;
  right: 20px;
}

.img {
  width: 100%;
}


.promo-cta-section {
  position: absolute;
  bottom: 50px;
  width: 100%;
  padding-left: 30px;

  .field-promocta {
    color: #fff !important;
    border-color: #fff !important;
    width: 0;

    &:hover .promo-button {
      color: #000 !important;
    }

    .promo-button {
      font-weight: 600;
      text-decoration: none;
      text-transform: uppercase;
      outline: none !important;
      box-shadow: unset !important;

      &:hover {
        color: #000 !important;
      }
    }
  }
}

.background-section {
  position: absolute;
  top: 10px;
  left: 5px;
  background-size: cover;
  width: calc(100% - 10px);
  height: calc(100% - 20px);
  background-position: 50% 50%;
}

.promo-text {
  position: relative;
  padding-left: 30px;
  padding-top: 30px;
}
