@import "../../components/theme-sizes";
@import "../../components/theme-colors";

.facet-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #8a8a8a;
  padding: 0 0 5px 0;
  margin: 0 0 5px 0;
  position: relative;
}

.facet-value {
  position: relative;
  border-bottom: 1px solid #e0dede;
  background: transparent;
  cursor: pointer;
  padding: 5px 0;

  &:last-of-type {
    border-bottom: none;
  }
}

.active-facet {
  font-weight: bold;
  color: map-get($incendi-colors, 'text-secondary-blue');
}
