.search-box {
  &.product-search {
    margin: 1rem 0;
    padding: 0 10px;

    .twitter-typeahead {
      margin: 0;
      position: relative;
      display: inline-block;
    }

    .search-box-input {
      margin: 0;
      width: 100% !important;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 0;
      //border-color: transparent;
      box-shadow: none;
      opacity: 1;
      background: none 0% 0% / auto repeat scroll padding-box border-box rgb(255, 255, 255);
    }
  }

  .component-content {
    display: flex;

    &>.twitter-typeahead {
      flex-grow: 10;
      margin: 0 5px;
    }
  }

  .twitter-typeahead {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    width: 100%;
  }
}

.search-box-button {
  width: 55px;
  height: 40px;
  margin: 0 !important;
  padding: 0 !important;
}

.search-box-button-border {
  border: 1px solid #ced4da;
}
