@import "../theme";

.navbar {
  background-color: map-get($incendi-colors, bg-dark-black);

  @media only screen and (max-width: map-get($grid-breakpoints, md)) {
    overflow-y: scroll;
    max-height: calc(100vh - 110px);
    margin-top: 30px;
  }
}

.link {
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-weight: 400;
  line-height: 34px;
  position: relative;
  flex-basis: 100%;

  > a {
    padding-right: .5rem !important;
  }
}

.icon {
  display: none !important;
  color: map-get($incendi-colors, text-primary-white) !important;
  position: absolute;
  top: 1rem;
  right: 1rem;

  @media only screen and (max-width: map-get($grid-breakpoints, md)) {
    display: block !important;
  }
}

.sub-item {
  @media only screen and (max-width: map-get($grid-breakpoints, md)) {
    border-bottom: 1px solid #555;
  }
}
