@import "../colors";

.navbar {
  background-color: map-get($incendi-colors, bg-dark-black);
}

.link {
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 34px;

  &::after{
    display: none;
  }
}
