@import "../colors";

.root {
  background-color: map-get($incendi-colors, bg-dark-black);
  padding: 8px 0;
}

.navbar {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 767px) {
  .navbar {
    max-width: 1023px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 1023px) {
  .navbar {
    max-width: 1440px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
