
.bg-primary {
  background-color: #fc0 !important
}

a.bg-primary:hover, a.bg-primary:focus, button.bg-primary:hover, button.bg-primary:focus {
  background-color: #cca300 !important
}

.bg-secondary {
  background-color: #000 !important
}

a.bg-secondary:hover, a.bg-secondary:focus, button.bg-secondary:hover, button.bg-secondary:focus {
  background-color: #000 !important
}

.bg-success {
  background-color: #28a745 !important
}

a.bg-success:hover, a.bg-success:focus, button.bg-success:hover, button.bg-success:focus {
  background-color: #1e7e34 !important
}

.bg-info {
  background-color: #ccc !important
}

a.bg-info:hover, a.bg-info:focus, button.bg-info:hover, button.bg-info:focus {
  background-color: #b3b3b3 !important
}

.bg-warning {
  background-color: #f9dace !important
}

a.bg-warning:hover, a.bg-warning:focus, button.bg-warning:hover, button.bg-warning:focus {
  background-color: #f3b8a1 !important
}

.bg-danger {
  background-color: #e14508 !important
}

a.bg-danger:hover, a.bg-danger:focus, button.bg-danger:hover, button.bg-danger:focus {
  background-color: #b03606 !important
}

.bg-light {
  background-color: #ccc !important
}

a.bg-light:hover, a.bg-light:focus, button.bg-light:hover, button.bg-light:focus {
  background-color: #b3b3b3 !important
}

.bg-dark {
  background-color: #000 !important
}

a.bg-dark:hover, a.bg-dark:focus, button.bg-dark:hover, button.bg-dark:focus {
  background-color: #000 !important
}

.bg-white {
  background-color: #fff !important
}

a.bg-white:hover, a.bg-white:focus, button.bg-white:hover, button.bg-white:focus {
  background-color: #e6e6e6 !important
}

.bg-white {
  background-color: #fff !important
}
