.btn {
  display: inline-block;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  text-decoration: none;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-outline-light {
  color: #ccc;
  background-color: transparent;
  background-image: none;
  border-color: #ccc;
}
.btn-outline-light:hover {
  color: #212529;
  background-color: #ccc;
  border-color: #ccc
}
.btn-light {
  color: #212529;
  background-color: #ccc;
  border-color: #ccc
}

.btn-light:hover {
  color: #212529;
  background-color: #b9b9b9;
  border-color: #b3b3b3
}

input, button, select, optgroup, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.btn-outline-dark:hover {
  color: #212529;
  background-color: #ccc;
}
.btn-lg, .btn-group-lg > .btn {
  padding: .5rem 3rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0
}

.btn-sm, .btn-group-sm > .btn {
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: 0
}

.outline-none {
  outline: none;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  color: #212529;
  background-color: map-get($incendi-colors, text-secondary-grey);
  border-color: map-get($incendi-colors, text-secondary-grey);
}

.btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active {
  box-shadow: none !important;
}

.btn-white {
  color: #212529;
  background-color: #fff;
  border-color: #fff
}

.btn-white:hover {
  color: #212529;
  background-color: #ececec;
  border-color: #e6e6e6
}

.btn-white:focus, .btn-white.focus {
  box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .5)
}

.btn-white.disabled, .btn-white:disabled {
  color: #212529;
  background-color: #fff;
  border-color: #fff
}

.btn-white:not(:disabled):not(.disabled):active, .btn-white:not(:disabled):not(.disabled).active, .show > .btn-white.dropdown-toggle {
  color: #212529;
  background-color: #e6e6e6;
  border-color: #dfdfdf
}

.btn-white:not(:disabled):not(.disabled):active:focus, .btn-white:not(:disabled):not(.disabled).active:focus, .show > .btn-white.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .5)
}

//TODO: create component that passes .active state outside so it can be styled
.list-group-flush {
  .list-group-item-action {
    &.active {
      z-index: 2;
      color: #fc0;
      background-color: #000;
      border-color: #000;
    }
  }
}

.breadcrumb {
  background-color: transparent;

  a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    color: #747474;

    &:hover {
      color: #fc0;
      text-decoration: none;
    }
  }

  .breadcrumb-item + .breadcrumb-item::before {
    display: none !important;
  }
}

.form-control {
  display: block;
  width: 100%;
  height: -webkit-calc(2.25rem + 2px);
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-top-color: rgb(206, 212, 218);
  border-right-color: rgb(206, 212, 218);
  border-bottom-color: rgb(206, 212, 218);
  border-left-color: rgb(206, 212, 218);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-repeat: initial;
  border-radius: 0;
  -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.hd-btn {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  font-family: "Univers LT", Arial, helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: normal;
  overflow: hidden;
  padding-left: 25px;
  padding-right: 25px;
  position: relative;
  text-transform: uppercase;
  outline: none;
  height: 60px
}

.hd-btn.bd-grey-1 {
  border: 2px solid #e5e5e5
}

.hd-btn-1 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  font-family: "Univers LT", Arial, helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: normal;
  overflow: hidden;
  padding-left: 25px;
  padding-right: 25px;
  position: relative;
  text-transform: uppercase;
  outline: none;
  height: 60px;
  background-color: #ececec
}

.hd-btn-1.bd-grey-1 {
  border: 2px solid #e5e5e5
}

.hd-btn-form {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  font-family: "Univers LT", Arial, helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: normal;
  overflow: hidden;
  padding-left: 25px;
  padding-right: 25px;
  position: relative;
  text-transform: uppercase;
  outline: none;
  height: 50px
}

.hd-btn-form.bd-grey-1 {
  border: 2px solid #e5e5e5
}
