@font-face {
  font-family: "Univers LT";
  src: url("/fonts/univers-eot.eot?#iefix");
  src: url("/fonts/univers-eot.eot?#iefix") format("eot"),url("/fonts/univers-woff2.woff2") format("woff2"),url("/fonts/univers-woff.woff") format("woff"),url("/fonts/univers-ttf.ttf") format("truetype")
}

@font-face {
  font-family: "Univers LT Bold";
  src: url("/fonts/univers-bold-eot.eot?#iefix");
  src: url("/fonts/univers-bold-eot.eot?#iefix") format("eot"),url("/fonts/univers-bold-woff2.woff2") format("woff2"),url("/fonts/univers-bold-woff.woff") format("woff"),url("/fonts/univers-bold-ttf.ttf") format("truetype")
}

@font-face {
  font-family: 'Avenir';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/avenir-400.woff2') format('woff2');
  font-display: swap;
}
