h2, a {
  -webkit-font-smoothing: antialiased;
}

.text-light {
  color: #ccc !important;
}
a.text-light:hover, a.text-light:focus {
  color: #b3b3b3 !important;
}

.text-secondary {
  color: #000 !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  -webkit-font-smoothing: antialiased;
  margin-bottom: 0;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit
}

h1, .h1 {
  font-size: 2.5rem
}

h2, .h2 {
  font-size: 2rem
}

h3, .h3 {
  font-size: 1.75rem
}

h4, .h4 {
  font-size: 1.5rem
}

h5, .h5 {
  font-size: 1.25rem
}

h6, .h6 {
  font-size: 1rem
}

.rich-text h1 {
  margin-bottom: 25px
}

.small {
  font-size: 80% !important;
}

/*!
 * HD Base Styles
 */
h1 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Univers LT", Arial, helvetica, sans-serif;
  font-weight: bold;
  color: #000;
  font-size: 60px;
  letter-spacing: normal;
  line-height: 68px;
  font-weight: 700
}

@media only screen and (max-width: map-get($grid-breakpoints, md) - 1px) {
  h1 {
    font-size: 36px;
    line-height: 44px
  }
}

@media only screen and (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($container-mobile-breakpoint, lg) - 1px) {
  h1 {
    font-size: 50px;
    line-height: 58px
  }
}

h1.uppercase {
  text-transform: uppercase
}

.is-black h1, h1.is-black {
  color: #000
}

.is-white h1, h1.is-white {
  color: #fff
}

h1.hd-underline::after {
  border-bottom: 4px solid #fc0;
  content: " ";
  display: block;
  width: 100%;
  margin-top: 5px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%)
}

h1.normal {
  font-weight: normal
}

.rich-text h1 {
  margin-bottom: 25px
}

@media only screen and (max-width: map-get($grid-breakpoints, md) - 1px) {
  .rich-text h1 {
    margin-bottom: 22px
  }
}

h2 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Univers LT", Arial, helvetica, sans-serif;
  font-weight: bold;
  color: #000;
  font-size: 32px;
  letter-spacing: normal;
  line-height: 40px;
  font-weight: 700
}

@media only screen and (max-width: map-get($grid-breakpoints, md) - 1px) {
  h2 {
    font-size: 26px;
    line-height: 34px
  }
}

@media only screen and (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($container-mobile-breakpoint, lg) - 1px) {
  h2 {
    font-size: 28px;
    line-height: 36px
  }
}

h2.uppercase {
  text-transform: uppercase
}

.is-black h2, h2.is-black {
  color: #000
}

.is-white h2, h2.is-white {
  color: #fff
}

h2.hd-underline::after {
  border-bottom: 4px solid #fc0;
  content: " ";
  display: block;
  width: 100%;
  margin-top: 5px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%)
}

h2.normal {
  font-weight: normal
}

.rich-text h2 {
  margin-bottom: 25px
}

@media only screen and (max-width: map-get($grid-breakpoints, md) - 1px) {
  .rich-text h2 {
    margin-bottom: 22px
  }
}

h3 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Univers LT", Arial, helvetica, sans-serif;
  font-weight: bold;
  color: #000;
  font-size: 28px;
  letter-spacing: normal;
  line-height: 34px;
  font-weight: 700
}

@media only screen and (max-width: map-get($grid-breakpoints, md) - 1px) {
  h3 {
    font-size: 22px;
    line-height: 30px
  }
}

@media only screen and (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($container-mobile-breakpoint, lg) - 1px) {
  h3 {
    font-size: 24px;
    line-height: 32px
  }
}

h3.uppercase {
  text-transform: uppercase
}

.is-black h3, h3.is-black {
  color: #000
}

.is-white h3, h3.is-white {
  color: #fff
}

h3.hd-underline::after {
  border-bottom: 4px solid #fc0;
  content: " ";
  display: block;
  width: 100%;
  margin-top: 5px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%)
}

h3.normal {
  font-weight: normal
}

.rich-text h3 {
  margin-bottom: 23px
}

@media only screen and (max-width: map-get($grid-breakpoints, md) - 1px) {
  .rich-text h3 {
    margin-bottom: 20px
  }
}

h4 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Univers LT", Arial, helvetica, sans-serif;
  font-weight: bold;
  color: #000;
  font-size: 22px;
  letter-spacing: normal;
  line-height: 28px;
  font-weight: 700
}

@media only screen and (max-width: map-get($grid-breakpoints, md) - 1px) {
  h4 {
    font-size: 20px;
    line-height: 26px
  }
}

@media only screen and (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($container-mobile-breakpoint, lg) - 1px) {
  h4 {
    font-size: 20px;
    line-height: 26px
  }
}

h4.uppercase {
  text-transform: uppercase
}

.is-black h4, h4.is-black {
  color: #000
}

.is-white h4, h4.is-white {
  color: #fff
}

h4.hd-underline::after {
  border-bottom: 4px solid #fc0;
  content: " ";
  display: block;
  width: 100%;
  margin-top: 5px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%)
}

h4.normal {
  font-weight: normal
}

.rich-text h4 {
  margin-bottom: 23px
}

@media only screen and (max-width: map-get($grid-breakpoints, md) - 1px) {
  .rich-text h4 {
    margin-bottom: 20px
  }
}

h5 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Univers LT", Arial, helvetica, sans-serif;
  font-weight: normal;
  color: #000;
  font-size: 18px;
  letter-spacing: normal;
  line-height: 24px;
  font-weight: 700
}

@media only screen and (max-width: map-get($grid-breakpoints, md) - 1px) {
  h5 {
    font-size: 18px;
    line-height: 24px
  }
}

@media only screen and (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($container-mobile-breakpoint, lg) - 1px) {
  h5 {
    font-size: 18px;
    line-height: 24px
  }
}

h5.uppercase {
  text-transform: uppercase
}

.is-black h5, h5.is-black {
  color: #000
}

.is-white h5, h5.is-white {
  color: #fff
}

h5.hd-underline::after {
  border-bottom: 4px solid #fc0;
  content: " ";
  display: block;
  width: 100%;
  margin-top: 5px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%)
}

h5.normal {
  font-weight: normal
}

.rich-text h5 {
  margin-bottom: 23px
}

@media only screen and (max-width: map-get($grid-breakpoints, md) - 1px) {
  .rich-text h5 {
    margin-bottom: 20px
  }
}

.display-4 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.hd-p, p {
  line-height: 36px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Univers LT", Arial, helvetica, sans-serif;
  font-weight: normal;
  font-size: 20px;
  color: #000;
  letter-spacing: normal;
  margin-bottom: 25px
}

@media only screen and (max-width: map-get($grid-breakpoints, md) - 1px) {
  .hd-p, p {
    line-height: 34px
  }
}

@media only screen and (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($container-mobile-breakpoint, lg) - 1px) {
  .hd-p, p {
    line-height: 34px
  }
}

@media only screen and (max-width: map-get($grid-breakpoints, md) - 1px) {
  .hd-p, p {
    font-size: 16px
  }
}

@media only screen and (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($container-mobile-breakpoint, lg) - 1px) {
  .hd-p, p {
    font-size: 18px
  }
}

.is-black .hd-p, .hd-p.is-black, .is-black p, p.is-black {
  color: #000
}

.is-white .hd-p, .hd-p.is-white, .is-white p, p.is-white {
  color: #fff
}

.hd-p.uppercase, p.uppercase {
  text-transform: uppercase
}

.hd-p2 {
  line-height: 34px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Univers LT", Arial, helvetica, sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: #333;
  letter-spacing: normal;
  margin-bottom: 25px
}

@media only screen and (max-width: map-get($grid-breakpoints, md) - 1px) {
  .hd-p2 {
    line-height: 32px
  }
}

@media only screen and (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($container-mobile-breakpoint, lg) - 1px) {
  .hd-p2 {
    line-height: 34px
  }
}

@media only screen and (max-width: map-get($grid-breakpoints, md) - 1px) {
  .hd-p2 {
    font-size: 16px
  }
}

@media only screen and (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($container-mobile-breakpoint, lg) - 1px) {
  .hd-p2 {
    font-size: 18px
  }
}

.is-black .hd-p2, .hd-p2.is-black {
  color: #000
}

.is-white .hd-p2, .hd-p2.is-white {
  color: #fff
}

.hd-p2.uppercase {
  text-transform: uppercase
}

.hd-p3 {
  line-height: 32px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Univers LT", Arial, helvetica, sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #333;
  letter-spacing: normal;
  margin-bottom: 20px
}

@media only screen and (max-width: map-get($grid-breakpoints, md) - 1px) {
  .hd-p3 {
    line-height: 32px
  }
}

@media only screen and (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($container-mobile-breakpoint, lg) - 1px) {
  .hd-p3 {
    line-height: 32px
  }
}

@media only screen and (max-width: map-get($grid-breakpoints, md) - 1px) {
  .hd-p3 {
    font-size: 16px
  }
}

@media only screen and (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($container-mobile-breakpoint, lg) - 1px) {
  .hd-p3 {
    font-size: 16px
  }
}

.is-black .hd-p3, .hd-p3.is-black {
  color: #000
}

.is-white .hd-p3, .hd-p3.is-white {
  color: #fff
}

.hd-p3.uppercase {
  text-transform: uppercase
}

.hd-p4 {
  line-height: 26px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Univers LT", Arial, helvetica, sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #333;
  letter-spacing: normal;
  margin-bottom: 20px
}

@media only screen and (max-width: map-get($grid-breakpoints, md) - 1px) {
  .hd-p4 {
    line-height: 26px
  }
}

@media only screen and (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($container-mobile-breakpoint, lg) - 1px) {
  .hd-p4 {
    line-height: 26px
  }
}

@media only screen and (max-width: map-get($grid-breakpoints, md) - 1px) {
  .hd-p4 {
    font-size: 16px
  }
}

@media only screen and (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($container-mobile-breakpoint, lg) - 1px) {
  .hd-p4 {
    font-size: 16px
  }
}

.is-black .hd-p4, .hd-p4.is-black {
  color: #000
}

.is-white .hd-p4, .hd-p4.is-white {
  color: #fff
}

.hd-p4.uppercase {
  text-transform: uppercase
}

ul {
  color: #000;
  line-height: 34px
}

@media only screen and (max-width: map-get($grid-breakpoints, md) - 1px) {
  ul {
    line-height: 28px
  }
}

ul > li {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Univers LT", Arial, helvetica, sans-serif;
  font-size: 20px
}

@media only screen and (max-width: map-get($grid-breakpoints, md) - 1px) {
  ul > li {
    font-size: 16px
  }
}

a {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Univers LT", Arial, helvetica, sans-serif;
  font-weight: normal;
  color: #fff;
  text-decoration: underline
}

a:hover {
  color: #000
}

.no-touchevents a:focus, .no-touchevents a:active {
  color: #000
}

a.uppercase {
  text-transform: uppercase
}

.is-black a, a.is-black {
  color: #000
}

.is-white a, a.is-white {
  color: #fff
}

.rich-text a {
  color: #000
}

.hd-footer-p {
  line-height: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Univers LT", Arial, helvetica, sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #8a8a8a;
  letter-spacing: normal
}

@media only screen and (max-width: map-get($grid-breakpoints, md) - 1px) {
  .hd-footer-p {
    line-height: 16px
  }
}

@media only screen and (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($container-mobile-breakpoint, lg) - 1px) {
  .hd-footer-p {
    line-height: 16px
  }
}

@media only screen and (max-width: map-get($grid-breakpoints, md) - 1px) {
  .hd-footer-p {
    font-size: 14px
  }
}

@media only screen and (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($container-mobile-breakpoint, lg) - 1px) {
  .hd-footer-p {
    font-size: 14px
  }
}

.is-black .hd-footer-p, .hd-footer-p.is-black {
  color: #000
}

.is-white .hd-footer-p, .hd-footer-p.is-white {
  color: #fff
}

.hd-footer-p.uppercase {
  text-transform: uppercase
}

blockquote {
  border: 3px solid #f7df36;
  background-color: #fff
}

blockquote.design {
  line-height: 44px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Univers LT", Arial, helvetica, sans-serif;
  font-weight: normal;
  font-size: 24px;
  color: #000;
  letter-spacing: normal;
  font-style: italic;
  font-weight: 700;
  padding: 5rem
}

@media only screen and (max-width: map-get($grid-breakpoints, md) - 1px) {
  blockquote.design {
    line-height: 34px
  }
}

@media only screen and (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($container-mobile-breakpoint, lg) - 1px) {
  blockquote.design {
    line-height: 44px
  }
}

@media only screen and (max-width: map-get($grid-breakpoints, md) - 1px) {
  blockquote.design {
    font-size: 20px
  }
}

@media only screen and (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($container-mobile-breakpoint, lg) - 1px) {
  blockquote.design {
    font-size: 24px
  }
}

.is-black blockquote.design, blockquote.design.is-black {
  color: #000
}

.is-white blockquote.design, blockquote.design.is-white {
  color: #fff
}

@media only screen and (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($container-mobile-breakpoint, lg) - 1px) {
  blockquote.design {
    padding: 3.33rem
  }
}

@media only screen and (max-width: map-get($grid-breakpoints, md) - 1px) {
  blockquote.design {
    padding: 2.5rem
  }
}

blockquote.highlight-all-sides {
  padding: 2rem
}

.boxed {
  box-sizing: border-box;
  margin: 20px 0
}

@media only screen and (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($container-mobile-breakpoint, lg) - 1px) {
  .boxed {
    padding: 10px
  }
}

@media only screen and (max-width: map-get($grid-breakpoints, md) - 1px) {
  .boxed {
    padding: 10px
  }
}

.component-content-clearfix .component-content:after {
  content: "";
  display: table;
  clear: both
}

.component-clearfix:after {
  content: "";
  display: table;
  clear: both
}
