@import "../theme";

.divider {
  margin: 0;
  border-top: 4px solid #ececec;
}

.row {
  padding-right: 10px;
  padding-left: 10px;
}

@media (min-width: 767px) {
  .row {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media (min-width: 1023px) and (min-width: 767px) {
  .row {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.navigation-title {
  line-height: 19px;
  color: theme-color('text-secondary');
  font-weight: normal;
  font-size: 16px;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;

  @media (max-width: 766.98px) {
    font-weight: 700;
    padding: 1rem 0;
    text-transform: uppercase;
    position: relative;
  }
  @media only screen and (max-width: 767px) {
    font-size: 16px;
    line-height: 19px;
  }
}

@media (min-width: 767px) {
  .navigation-title {
    font-weight: 700;
    text-transform: uppercase;
  }
}

.links-submenu {
  @media (min-width: 1023px) and (min-width: 767px) {
    margin-top: 1rem;
  }
}

.privacy-block {
  @media only screen and (max-width: 767px) {
    margin-bottom: 10px
  }

  @media only screen and (min-width: 768px) and (max-width: 1022px) {
    flex-wrap: wrap;
    align-items: unset
  }
}

.component-content {
  @media only screen and (max-width: 767px) {
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.parent-nav-item {
  @media only screen and (max-width: map-get($grid-breakpoints, sm)) {
    flex: 0 0 100% !important;
  }
  @media (max-width: 766.98px) {
    border-top: 1px solid #999;

    &:first-child {
      border-top: 0;
    }
  }
}

.icon {
  position: absolute;
  display: none;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;

  @media only screen and (max-width: map-get($grid-breakpoints, sm)) {
    display: block;
  }
}

.nav-item {
  flex-basis: 100%;
  a, p {
    text-decoration: none;
    padding: 3px 5px 3px 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
  }
}

.small-nav {
  text-decoration: none;
  line-height: 16px;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: normal;
  flex-basis: auto;
  a, p {
    color: map-get($incendi-colors, 'text-secondary-grey');
    line-height: 16px;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: normal
  }
}

.logo {
  height: 50px;
  padding-left: 10px;
}

@media (min-width: 767px) {
  .logo {
    margin-top: 1rem !important;
    margin-bottom: 1.25rem !important;
  }
}

.external-links {
  padding-left: 30px;
  padding-right: 10px;
}

.col2 {
  max-width: 350px;
}

.col3 {
  max-width: 270px;
}
