@import "../../components/theme-sizes";
@import "../../components/theme-colors";

.breadcrumb {

}

.home-icon {
  color: #fc0;
}

.separator {
  color: #747474;
  margin: 6px 12px;
  height: 12px;
}
