.phone-number {
  text-decoration: none;
  font-weight: bold;
}

.tab-pane {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.list-group-item {
  border-right: 0;
  border-left: 0;
  border-radius: 0 !important;
  text-decoration: none;
  background-color: #f1f1f1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
