.search-results.search-result-product-category {
  margin: 2rem 0;
  padding: 0;

  .search-result-list {
    margin: 0;
    padding: 0;
    padding-top: 5px;
    display: flex;
    list-style: none;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;

    li {
      flex: 0 0 100%;
      max-width: 100%;
      list-style: none;
      position: relative;
      width: 100%;
      min-height: 1px;
      padding-right: 10px;
      padding-left: 10px;

      @media (min-width: 767px) {
        flex: 0 0 50%;
        max-width: 50%;
      }
      @media (min-width: 1023px) {
        flex: 0 0 25%;
        max-width: 25%;
      }

      a {
        border: 0;
        border-radius: 0;

        .field-main-image {
          height: 225px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 0;
          }
        }
      }

      a .icon {
        filter: invert(1) !important;
      }

      a:hover .icon {
        filter: none !important;
      }
    }
  }
}

.search-box.product-search {
  margin: 1rem 0;
  padding: 0 10px;
}
.search-box .component-content {
  display: flex;
}
.search-box .twitter-typeahead {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  width: 100%;
}
.search-box .component-content>.twitter-typeahead {
  flex-grow: 10;
  margin: 0 5px;
}
.search-box.product-search .twitter-typeahead {
  margin: 0;
  position: relative;
  display: inline-block;
}
.search-box.product-search .search-box-input {
  margin: 0;
  width: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0;
  border-color: transparent;
  box-shadow: none;
  opacity: 1;
  background: none 0% 0% / auto repeat scroll padding-box border-box rgb(255, 255, 255);
}

.search-box-button {
  width: 55px;
  height: 40px;
  margin: 0 !important;
  padding: 0 !important;
}
